@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #4169E1;
  font-family: "Montserrat", sans-serif;
}

.navigation {
  background-color: #2b2b2b;
  color: white;
  height: 50px;
  animation-name: navee;
  animation-duration: 4s;
}

.navigation ul {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  text-align: center;
  height: 50px;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  color: #f27609;
}

.navigation li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 100;
}

.capa {
  color: white;
}

.capa div {
  display: inline-block;
  height: 50px;
  padding-left: 0;
  width: 100%;
}

.profile-pic {
  text-align: center;
  width: 100%;
  animation-name: profile-capa;
  animation-duration: 3s;
}

.profile-pic img {
  width: 300px;
  border-radius: 320px;
  margin-top: 50px;
  border: 4px solid #000;
}

.profile-title {
  vertical-align: top;
  width: 59%;
  animation-name: titulo-capa;
  animation-duration: 3s;
  text-align: center;
}

.profile-title h1 {
  font-size: 58px;
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 54px;
}

.profile-title h2 {
  font-size: 16px;
  font-weight: 100;
  margin-top: -26px;
  margin-left: 5px;
}

.main {
  animation-name: conteudo;
  animation-duration: 2s;
  text-align: center;
  width: 50%;
  margin-top: 100px;
  margin-left: 300px;
  
}

.mainsobre {
  animation-name: conteudo;
  animation-duration: 2s;
  text-align: center;
  width: 50%;
  margin-top: 100px;
  margin-left: 300px;
  
}

.mainsobre p {
  font-size: 15px;
  font-weight: 100px;
  color: black;
  line-height: 24px;
  text-align: justify;
  
}



.mainsobre h1 {
  color: white;
  font-weight: bold;
  font-size: 100px;
}

.main h1 {
  color: white;
  font-weight: bold;
}

.main h2 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 40px;
}

.main h3 {
  font-size: 16px;
  color: black;
  text-transform: uppercase;
}

.main p {
  font-size: 15px;
  font-weight: 100;
  color: white;
  line-height: 24px;
  text-align: center;
  
}

.social-img {
  width: 50px;

  margin-right: 10px;
}

.miniatura {
  width: 320px;
  height: 320px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
  background-size: contain;
  overflow: hidden;
  animation-name: imagem;
  animation-duration: 4s;
}


.navigation li.threeline-icon {
  display: none;
}

.navigation li.threeline-icon:hover {
  color: #f27609;
  cursor: pointer;
}

@keyframes profile-capa {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate (0px, 0px);
  }
}

@keyframes titulo-capa {
  0% {
    opacity: 0;
    transform: translate(0px, -20px);
  }
  100% {
    opacity: 1;
    transform: translate (0px, 0px);
  }
}

@keyframes imagem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navee {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes conteudo {
  0% {
    opacity: 0;
    transform: translate(-20px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate (0px, 0px);
  }
}

@media (max-width: 1000px) {
  .navigation li {
    display: none;
  }

  .navigation li.threeline-icon {
    display: inline-block;
  }

  .profile-pic {
    width: 100%;
  }

  .profile-title {
    text-align: center;
    width: 100%;
  }

  .capa div {
    display: block;
    height: auto;
  }

  .profile-pic img {
    margin-top: 0;
    max-width: 100%;
  }

  .profile-title h1 {
    margin-top: 30px;
    font-size: 36px;

    margin-left: 20px;
    margin-right: 20px;
  }

  .profile-title h2 {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .main {
    padding: 10px 5% 40px 5%;
  }

  .main p {
    text-align: justify;
    line-height: 30px;
  }

  .miniatura {
    max-width: 80%;
    background-size: auto 100%;
  }

  .main .tet p {
    width: auto;
    padding: 5px 25px 0px 0px;
    margin-left: 25px;

    display: block;
  }

  .main .tet h2 {
    width: 80%;
    text-align: left;
    margin-left: 25px;
    padding-bottom: 0px;
    padding-top: 50px;
  }

  .main .tet h1 {
    margin-left: 0px;
    text-align: left;
    padding: 10px 10px 10px 25px;
    width: 80%;
    font-size: 26px;
  }
}
